body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.highlight-details {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.highlight-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.highlight-metadata > span {
  display: block;
}

.highlight-text {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.highlight-interactions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.interaction {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.interaction .material-icons {
  font-size: 24px;
  margin-right: 5px;
}

.highlight-comments h3 {
  margin-top: 0;
}

.highlight_comment {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comment_user {
  font-weight: 500;
}

.comment_date {
  font-size: 0.8rem;
  color: #666;
}

.comment_text {
  margin-top: 5px;
  margin-bottom: 2px;
}

.highlighter--icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin: 0 5px;
}
.highlighter--icon-like {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/like.png");
}

.highlighter--icon-dislike {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/dislike.png");
}

.highlighter--icon-comment {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/comment.png");
}

.no_comments {
  text-align: center;
  padding: 20px;
  color: #666;
}

.add-comment textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.add-comment button {
  display: inline-block;
  background-color: #4caf50; /* A green background for the submit button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
}

.add-comment button:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

/* Styling for disabled button to indicate it cannot be clicked */
.add-comment button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.add-comment {
  margin-bottom: 20px;
  display: none;
}
.comment-toggle button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 10px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.comment-toggle button:hover {
  background-color: #45a049;
}
